* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:fneue-haas-grotesk-display,sans-serif;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 12vh;
    padding: 2vw 10.4vw;
    z-index: 10;
    background-color: #111;
}

nav h1 {
    font-size: 3.5vw;
}

.nav-2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav-2 h4{
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw
}

.nav-2 h5 {
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
    
}

.nav-2 h5 span{
    font-size: 1vw;
    font-weight: 400;
    display: inline-block;
    transform: translateY(25px);
    text-transform: uppercase;
    
    
}

.btns{
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 12px 14px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

.btns svg{
    height: 0.85vw;
    margin-left: 0.8vw;
}

#nav-bottom{
   
    height:0vh;
    width: 80%;
    position: absolute;
    background-color: #111;
    top:100%;
    z-index: 9;
    border-bottom: 1px solid #fff;

    
}


#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#page1 h1{
    font-size: 15vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    background-color: #0ba34e;
    border-radius: 50%;
}

#page1 p {
    text-align: center;
    font-weight: 200;
    font-size: 2.5vw;
    margin: 2vh;
}

#page1-some {
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-some h4  {
    font-weight: 200;
    font-size: 2vw;
    margin-top: 0.2vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#page2{
    background-color: black;
    height: 100%;
    width: 100%;
}