*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fneue-haas-grotesk-display,sans-serif;
    color:#fff;   
    
}
html,body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#page1 h1{
    font-size: 15vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    width: 6vw;
    background-color: #0ba34e;
    border-radius: 50%;
}

#page1 p {
    text-align: center;
    font-weight: 200;
    font-size: 2.5vw;
    margin: 2vh;
}

#page1-some {
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-some h4  {
    font-weight: 200;
    font-size: 2vw;
    margin-top: 0.2vw;
    text-transform: lowercase;
    padding: 5px 10px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
}

#page1-some h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
    

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}

nav {
   
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
}
nav h1 {
    font-size: 50px;
}

.nav2 {
    display: flex;
    gap: 2vw;
}

.nav2 h4{
    text-transform: uppercase;
   
   
    font-weight: 500;
    font-size: 2vw;
}
nav:hover #navbot {
    height: 100%;
    bottom: -100%;
}
#navbot {
    
    height: 0%;
    width: 79%;
    transition: all ease 0.65s;
    position: absolute;
    bottom: 0%;
    border-bottom: 1px solid#dadada;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: uppercase;
    padding: 2vw 13vw;
    padding-left: 18vw;
    
}

.botdiv h5 span {
    font-size: 1vw;
}